@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

* {
    transition: all 1s ease-in-out;
}

:root {
    --primary: #faebd7;
    --accent: black;
    --background: #f8f8ff;
}

html, body {
    @apply overflow-x-hidden scroll-smooth;
}

body {
    background-color: var(--background);
}

.navigation-bar {
    background-color: var(--primary);
    color: var(--accent);
    @apply p-5 shadow-lg;
}

.navbar-brand {
    @apply 2xl:text-2xl text-xl uppercase;
}

.burger-button {
    color: var(--accent);
}

button {
    @apply cursor-pointer;
}

.search-word-form {
    @apply flex flex-wrap justify-center 2xl:gap-5 gap-3;
}

input[type="text"] {
    background-color: var(--primary);
    border-color: var(--accent);
}

input[type="text"]:focus {
    color: var(--accent);
}

.search-word-form input[type="text"] {
    @apply w-72 shadow-lg capitalize;
}

.search-word-form button {
    background-color: var(--accent);
    color: var(--background);
    @apply text-center text-lg capitalize;
}

.word-card-box {
    @apply flex justify-center p-5 mt-3;
}

.word-card {
    @apply max-w-sm border-0 shadow-sm;
    background-color: var(--primary);
}

.close-card-button-box {
    @apply flex justify-end;
}

.close-card-button {
    @apply text-2xl;
}

.word-card-meaning {
    color: var(--accent);
}